# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# IDE
.idea/
.vscode/
*.iml

# iOS/macOS
ios/Pods/
ios/.symlinks/
macos/Pods/
*.xcworkspace/

# Android
android/.gradle/
android/local.properties
android/app/google-services.json

# Android Secrets & Keystores
android/key.properties
*.jks
*.keystore
DEPLOY_SECRETS.md

# Env
.env
*.env

# macOS
.DS_Store
*.DS_Store
